@using BlazorBaseUI.Utilities
@using BlazorBaseUI.FocusGuard
@using Microsoft.AspNetCore.Components.Web

<RenderElement TState="NavigationMenuTriggerState"
               Tag="button"
               State="state"
               Enabled="RootContext is not null && ItemContext is not null"
               Render="Render"
               ClassValue="ClassValue"
               StyleValue="StyleValue"
               ComponentAttributes="componentAttributes"
               ChildContent="ChildContent"
               @attributes="AdditionalAttributes"
               @ref="renderElementReference" />

@if (ShouldRenderFocusGuards)
{
    <FocusGuard OnFocus="HandleBeforeGuardFocusAsync" />
    <span aria-owns="@RootContext?.ViewportId" style="@OwnerVisuallyHiddenStyle"></span>
    <FocusGuard OnFocus="HandleAfterGuardFocusAsync" @ref="afterGuardRef" />
}

@code {
    private const string OwnerVisuallyHiddenStyle =
        "position:fixed;top:0;left:0;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip-path:inset(50%);white-space:nowrap;border-width:0;";

    private NavigationMenuTriggerState state;
    private RenderElement<NavigationMenuTriggerState>? renderElementReference;
    private FocusGuard? afterGuardRef;
    private Dictionary<string, object> componentAttributes = new();

    private bool ShouldRenderFocusGuards => IsItemActive();

    [CascadingParameter]
    private NavigationMenuRootContext? RootContext { get; set; }

    [CascadingParameter]
    private NavigationMenuItemContext? ItemContext { get; set; }

    /// <summary>
    /// Determines whether the component should ignore user interaction.
    /// Defaults to <see langword="false"/>.
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; }

    /// <summary>
    /// Allows you to replace the component's HTML element
    /// with a different tag, or compose it with another component.
    /// </summary>
    [Parameter]
    public RenderFragment<RenderProps<NavigationMenuTriggerState>>? Render { get; set; }

    /// <summary>
    /// Gets or sets the CSS class function based on the component state.
    /// </summary>
    [Parameter]
    public Func<NavigationMenuTriggerState, string?>? ClassValue { get; set; }

    /// <summary>
    /// Gets or sets the inline style function based on the component state.
    /// </summary>
    [Parameter]
    public Func<NavigationMenuTriggerState, string?>? StyleValue { get; set; }

    /// <summary>
    /// Defines the child components of this instance.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Gets or sets a collection of additional attributes that will be applied to the created element.
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    /// <summary>
    /// Gets or sets the associated <see cref="ElementReference"/>.
    /// </summary>
    public ElementReference? Element => renderElementReference?.Element;

    /// <inheritdoc />
    protected override void OnParametersSet()
    {
        var open = IsItemActive();
        state = new NavigationMenuTriggerState(open);
        BuildComponentAttributes();
    }

    /// <inheritdoc />
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && ItemContext is not null)
        {
            RootContext?.SetTriggerElement(ItemContext.Value, Element);
        }
    }

    private bool IsItemActive()
    {
        if (RootContext is null || ItemContext is null)
        {
            return false;
        }

        return RootContext.GetValue() == ItemContext.Value;
    }

    private void BuildComponentAttributes()
    {
        var attrs = new Dictionary<string, object>();
        var isActive = IsItemActive();

        attrs["tabindex"] = "0";
        attrs["type"] = "button";
        attrs["id"] = ItemContext?.TriggerId ?? string.Empty;
        attrs["aria-expanded"] = isActive ? "true" : "false";

        if (isActive && !string.IsNullOrEmpty(RootContext?.PopupId))
        {
            attrs["aria-controls"] = RootContext.PopupId;
        }

        // lint-ignore:RULE-05 React parity selector consumed by NavigationMenu JS.
        attrs["data-base-ui-navigation-menu-trigger"] = true;

        if (state.Open)
        {
            attrs["data-popup-open"] = true;
            attrs["data-pressed"] = true;
        }

        if (Disabled)
        {
            attrs["aria-disabled"] = "true";
        }

        attrs["onkeydown"] = EventCallback.Factory.Create<KeyboardEventArgs>(this, HandleKeyDownAsync);
        attrs["onfocus"] = EventCallback.Factory.Create<FocusEventArgs>(this, HandleFocusAsync);
        attrs["onblur"] = EventCallback.Factory.Create<FocusEventArgs>(this, HandleBlurAsync);
        attrs["onmousemove"] = EventCallback.Factory.Create<MouseEventArgs>(this, HandleMouseMoveAsync);
        attrs["onpointerenter"] = EventCallback.Factory.Create<PointerEventArgs>(this, HandlePointerEnterAsync);
        attrs["onpointerdown"] = EventCallback.Factory.Create<PointerEventArgs>(this, HandlePointerDownAsync);
        attrs["onclick"] = EventCallback.Factory.Create<MouseEventArgs>(this, HandleClickAsync);

        componentAttributes = attrs;
    }

    private async Task HandleKeyDownAsync(KeyboardEventArgs e)
    {
        await EventUtilities.InvokeOnKeyDownAsync(AdditionalAttributes, e);
    }

    private Task HandleFocusAsync(FocusEventArgs e)
    {
        if (IsItemActive())
        {
            RootContext?.SetViewportInert(false);
        }

        return EventUtilities.InvokeOnFocusAsync(AdditionalAttributes, e);
    }

    private Task HandleBlurAsync(FocusEventArgs e)
    {
        return EventUtilities.InvokeOnBlurAsync(AdditionalAttributes, e);
    }

    private Task HandleMouseMoveAsync(MouseEventArgs e)
    {
        return EventUtilities.InvokeOnMouseMoveAsync(AdditionalAttributes, e);
    }

    private Task HandlePointerEnterAsync(PointerEventArgs e)
    {
        return EventUtilities.InvokeOnPointerEnterAsync(AdditionalAttributes, e);
    }

    private Task HandlePointerDownAsync(PointerEventArgs e)
    {
        return EventUtilities.InvokeOnPointerDownAsync(AdditionalAttributes, e);
    }

    private async Task HandleClickAsync(MouseEventArgs e)
    {
        if (Disabled || RootContext is null || ItemContext is null)
        {
            return;
        }

        var nextValue = IsItemActive() ? null : ItemContext.Value;
        await RootContext.SetValueAsync(nextValue, NavigationMenuCloseReason.TriggerPress);

        state = new NavigationMenuTriggerState(IsItemActive());
        BuildComponentAttributes();

        await EventUtilities.InvokeOnClickAsync(AdditionalAttributes, e);
    }

    private Task HandleBeforeGuardFocusAsync()
    {
        RootContext?.RequestFocusPrevious(Element);
        return Task.CompletedTask;
    }

    private Task HandleAfterGuardFocusAsync()
    {
        RootContext?.RequestFocusInside(afterGuardRef?.Element, Element);
        return Task.CompletedTask;
    }
}
