@using System.Diagnostics.CodeAnalysis

<CascadingValue Value="context">
    <span @attributes="AdditionalAttributes"
          class="@ResolvedClass"
          style="@ResolvedStyle"
          @ref="Element">
        @ChildContent
    </span>
</CascadingValue>

@code {
    private ImageLoadingStatus imageLoadingStatus = ImageLoadingStatus.Idle;
    private AvatarContext context = null!;

    private string? ResolvedClass => AttributeUtilities.CombineClassNames(
        AdditionalAttributes,
        ClassValue.Resolve(context?.ImageLoadingStatus));

    private string? ResolvedStyle => AttributeUtilities.CombineStyles(
        AdditionalAttributes,
        StyleValue.Resolve(context?.ImageLoadingStatus));

    [Parameter]
    public ClassValue<ImageLoadingStatus?> ClassValue { get; set; }

    [Parameter]
    public StyleValue<ImageLoadingStatus?> StyleValue { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    [DisallowNull]
    public ElementReference? Element { get; protected set; }

    protected override void OnInitialized()
    {
        context = new AvatarContext(imageLoadingStatus, SetImageLoadingStatus);
    }

    private void SetImageLoadingStatus(ImageLoadingStatus status)
    {
        if (imageLoadingStatus != status)
        {
            imageLoadingStatus = status;
            context = new AvatarContext(imageLoadingStatus, SetImageLoadingStatus);
            StateHasChanged();
        }
    }
}