@using System.Diagnostics.CodeAnalysis

@implements IReferencableComponent

<button @attributes="AdditionalAttributes"
        @ref="Element">
    @ChildContent
</button>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    public ElementReference? Element { get; protected set; }
}